@use "../partials/typography";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'NunitoSans', sans-serif;
    background-color: #FACEA4 ;
    padding: 1rem;
}

h1 {
    font-family: 'TANHEADLINE', sans-serif;
}